platformName='android'
platformVersion='10.0'
deviceName='Samsung Galaxy S20'
app='bs://05061a322433ffb8cf5e08d34e52bc330a061276'
remote_url='http://hub.browserstack.com/wd/hub'
browserstackUser='juliaiv_UhT6EC'
browserstackKey='cy19SxTDPApa6DYw9C4H'
projectName='mobile_autotests_for_wiki'
buildName='wikipedia-browserstack-build-1'
browserstackSessionName='Wikipedia'
